<h3 class="flex text-center">  Edit you job  </h3>


<%= render 'form', job: @job %>

<%= link_to 'Show', @job , class: "btn btn-sm btn-outline-primary mr-3" %>
<%= link_to 'Back', jobs_path , class: "btn btn-sm btn-outline-dark"%>
