
<%= link_to root_path, class:"navbar-brand change-my-color  " do %>
  <%= render_svg "icons/railsdevs-mark", title: "railsdevs.com", styles: "fill-current " %>

  <span class="ml-2 font-weight-bold  text-danger">devjob</span>
<% end %>

